@model List<Blogic_ukol_vancik.Models.Smlouva>

@{
    ViewData["Title"] = "Správce smluv";
    string spravceRetezec = string.Empty;
}

<header class="home-header mb-3">
    <h1>Správce smluv</h1>
</header>
<div class="container">
    <div class="d-flex justify-content-center mb-2">
        <a class="btn btn-warning" asp-area="" asp-controller="Smlouva" asp-action="Create">Vytvořit smlouvu</a>
    </div>
    <div class="seznam-smlouvy">
        @foreach (var smlouva in Model)
        {
                    <div class="seznam-smlouva d-flex flex-column align-items-center gap-2">
                        <div class="seznam-smlouva-text">
                            <p>Ev. číslo: @smlouva.EvCislo</p>
                            <p>Instituce: @smlouva.Instituce</p>
                            <p>Klient: @smlouva.Klient</p>
                            <p>Správce smlouvy: </p>
                            <p>Datum uzavření: @smlouva.DatumUzavreni</p>
                            <p>Datum platnosti: @smlouva.DatumPlatnosti</p>
                            <p>Datum ukončení: @smlouva.DatumUkonceni</p>
                        </div>
                        <div class="seznam-smlouva-tlacitka d-flex gap-3">
                            <button type="button" class="btn btn-primary">Zobrazit</button>
                            <button type="button" class="btn btn-success">Upravit</button>
                        </div>
                    </div> 
        }
    </div>
</div>
