@model List<Blogic_ukol_vancik.Models.Smlouva>

@{
    ViewData["Title"] = "Správce smluv";
    var vsechnyVazby = ViewBag.Vazby as List<Blogic_ukol_vancik.Models.SmlouvaVazba>;
    var vsichniSpravci = ViewBag.Spravci as List<Blogic_ukol_vancik.Models.Spravce>;
}

<header class="home-header mb-3">
    <h1>Správce smluv</h1>
</header>
<div class="container">
    @if (_uzivatelContext.aktualniUzivatel != null && _uzivatelContext.aktualniUzivatel.JeSpravce && _uzivatelContext.aktualniUzivatel.ID != 8)
    {
        <div class="d-flex justify-content-center mb-2">
            <a class="btn btn-warning" asp-area="" asp-controller="Smlouva" asp-action="Create">Vytvořit smlouvu</a>
        </div>
    }
    <h2>Seznam smluv:</h2>
    <div class="seznam-smlouvy">
        @foreach (var smlouva in Model)
        {
            var VazbyID = vsechnyVazby?.Where(v => v.SmlouvaID == smlouva.ID).ToList();
            var SpravciID = VazbyID?.Select(v => v.SpravceID).ToList();
            var jmenaSpravcu = vsichniSpravci?.Where(s => SpravciID != null && SpravciID.Contains(s.ID)).ToList();
            
            <div class="seznam-smlouva d-flex flex-column align-items-center gap-2">
                <div class="seznam-smlouva-text">
                    <p>Ev. číslo: @smlouva.EvCislo</p>
                    <p>Instituce: @smlouva.Instituce</p>
                    <p>Klient: @smlouva.Klient</p>
                    <p>Správce smlouvy: <span>@string.Join(", ", jmenaSpravcu.Select(s => $"{s.Jmeno} {s.Prijmeni}"))</span></p>
                    <p>Datum uzavření: @smlouva.DatumUzavreni?.ToString("d.M.yyyy - H:mm")</p>
                    <p>Datum platnosti: @smlouva.DatumPlatnosti?.ToString("d.M.yyyy")</p>
                    <p>Datum ukončení: @smlouva.DatumUkonceni?.ToString("d.M.yyyy")</p>
                </div>
                <div class="seznam-smlouva-tlacitka d-flex gap-3">
                    <a asp-controller="Smlouva" asp-action="Show" asp-route-id="@smlouva.ID" class="btn btn-primary">Zobrazit</a>
                    @if (_uzivatelContext.aktualniUzivatel != null && SpravciID.Contains(_uzivatelContext.aktualniUzivatel.ID))
                    {
                        <a asp-controller="Smlouva" asp-action="Edit" asp-route-id="@smlouva.ID" class="btn btn-success">Upravit</a>
                        <a asp-controller="Smlouva" asp-action="Delete" asp-route-id="@smlouva.ID" class="btn btn-danger">Smazat</a>
                    }
                </div>
            </div>
        }
    </div>
</div>
